body {
    margin-left: auto;
    margin-right: auto;
    width: 55em;
    border-style: ridge;
}

  head {
      background-color: black;
  }

img {
    width: 850px;
    border-style: dotted;
    border-width: 10px;

}
.image img{
    align-content: center;
}

  #Panda{
      color: black;

      background-color: burlywood;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
  }

  #Text{
    background-color: powderblue;
    color: green;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
  }

  #div1{
      background-color: green;
      font-family: "Times New Roman";
      border-style: solid;
      border-width: 8px;
  }
  #div2{
    background-color: green;
}
  #header {
      background-color: black;
      color: teal;
      text-align: center;
      text-decoration-style: dotted;
  }