body {
   
    
  }
  head {
      background-color: black;
  }
  h1 {
   
}

  #Panda{
      color: red;
      background-color: green;
  }

  #Text{
    background-color: powderblue;
    color: green;
  }

  #div1{
      background-color: green;
  }
  #div2{
    background-color: green;
}
  #header {
      background-color: black;
      color: teal;
      text-align: center;
      text-decoration-style: dotted;
  }